<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link text-decoration-none" href="{{ path('admin.log') }}">
                <i class="far fa-file-alt"></i>
                Log
            </a>
        </li>
    </ul>
</div>