includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    fileExtensions:
        # Standard php files and .dist config files
        - php
        - dist
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Variable property access on Laminas\\Db\\RowGateway\\RowGateway.#'
        - '#Variable method call on \$this\(App\\Permissions\).#'
