includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    fileExtensions:
        # Standard php files and .dist config files
        - php
        - dist
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - message: '#Variable property access on Laminas\\Db\\RowGateway\\RowGateway\.#'
          path: src/App/Handler/API/DefaultHandler.php
        - message: '#Variable method call on \$this\(App\\Permissions\)\.#'
          path: src/App/Permissions.php
        - message: '#Offset ''[a-zA-Z0-9_]+'' does not exist on array\|ArrayObject\|null\.#'
          paths:
            - src/App/DataModel.php
            - src/App/Handler/Admin/RolesHandler.php
        - message: '#Cannot access offset ((''[a-zA-Z0-9_]+'')|string) on array\|object\|null\.#'
          paths:
            - src/App/Handler/LoginHandler.php
            - src/App/Handler/PasswordHandler.php
            - src/App/Handler/RecoveryCodeHandler.php
        - message: '#Cannot access offset ''[a-zA-Z0-9]+'' on array\|false\.#'
          paths:
            - src/App/Handler/RecoveryCodeHandler.php
        - message: '#Cannot access property \$[a-zA-Z0-9]+ on array\|ArrayObject\|null\.#'
          path: src/App/Permissions.php
        - message: '#Variable property access on mixed\.#'
          path: src/App/UserRepository.php
        - message: '#Parameter \#2 \$timestamp of function date expects (int|(int\|null)), int\|false given.#'
          path: src/App/Handler/Admin/LogHandler.php
