{% extends '@layout/default.html.twig' %}

{% block title %}403 Forbidden{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('/assets/homepage.css') }}" />
{% endblock %}

{% block content %}

<main class="container">

    <h1>Oops!</h1>

    <p>We encountered a 403 Forbidden error.</p>
    <p>
        You don't have access to that resource.
    </p>

</main>

{% endblock %}