<!doctype html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %} - {{ global.title }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
        <div class="container">
            <span class="navbar-brand">
                <i class="fas fa-tools"></i>
                ADMIN
            </span>
            {% block navbar %}{% endblock %}
            {% include('@app/admin/navbar/dropdown.html.twig') %}
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>

</html>